[worldserver]

###
# Allow gamemasters to save and load companions and mounts
AccountBound.Gamemasters = 0
###

###
# Make companions shared across all characters of an account
AccountBound.Companions = 1
###

###
# Make heirlooms shared across all characters of an account
# This requires the included creature to be spawned
AccountBound.Heirlooms = 0
###

###
# Make mounts shared shared across all characters of an account
AccountBound.Mounts = 1
###
